<!DOCTYPE html>
<html lang="es">
<head>
	<% include head %>
</head>
<body>
	<header>
		<% include header %>
	</header>
	<nav class="navbar navbar-light bg-light mt-5">
		<form class="form-inline mx-auto" method="GET">
			<input class="form-control mr-sm-2" type="text" placeholder="Buscar cliente" aria-label="Search" name="search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		</form>
	</nav>
	<div class="container">                                                                                    
		<div class="table-responsive">          
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Cédula</th>
						<th>Nombre</th>
						<th>Telefono</th>
						<th>Correo-e</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2</td>
						<td>123134</td>
						<td>Anna Pitt</td>
						<td>353 456 7890</td>
						<td>AnnaPitt35@mail.es</td>
						<td>
							<input type="checkbox" name="select">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer>
		<% include footer %>
	</footer>
</body>
</html>