<!DOCTYPE html>
<html lang="es">
<head>
	<% include head %>
</head>
<body>
	<header>
		<% include header %>
	</header>

	<div class="card col-xl-4 col-lg-4 col-md-6 col-sm-6 my-5 mx-auto">
		<img class="card-img-top" src="svg/profile.svg" alt="profile">
		<div class="card-block">
			<h4 class="card-title text-center">Pepito Perez</h4>
		</div>
	</div>

	<footer>
		<% include footer %>
	</footer>
</body>
</html>