<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
	<title>Inventario | tienda.js</title>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top p-3">
		<a class="navbar-brand font-weight-bold" href="#">tienda.js</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<button class="btn btn-success mx-1" onclick="location.href='index_admin.html'">Home</button>
				<button class="btn btn-success mx-1" onclick="location.href='caja_admin.html'">Caja</button>
				<button class="btn btn-warning mx-1" onclick="location.href='inventory_admin.html'">Inventario</button>
				<button class="btn btn-success mx-1" onclick="location.href='report.html'">Reportes</button>
				<button class="btn btn-success mx-1" onclick="location.href='staff.html'">Personal</button>
				<button class="btn btn-success mx-1" onclick="location.href='providers.html'">Proveedores</button>
				<button class="btn btn-success mx-1" onclick="location.href='clients_admin.html'">Clientes</button>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a class="nav-link" href="#">Cerrar sesion</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="navbar navbar-light bg-light mt-5">
		<form class="form-inline mx-auto">
			<input class="form-control mr-sm-2" type="text" placeholder="Buscar producto" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		</form>
	</nav>
	<div class="row my-0 mx-auto" id="staff">
		<div class="card p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<div class="card-block p-2">
				<h4 class="card-title text-center">Producto "X"</h4>
			</div>
			<a href="#"><img class="card-img-top" src="../public/product-image/1.jpg" alt="product"/></a>
			<div class="card-block p-2">
				<p class="card-text text-center">
					Disponibles: 34
				</p>
			</div>
			<span class="text-center bg-dark">
				<a href="#" data-toggle="modal" data-target="#productMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#productEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#productDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<div class="card-block p-2">
				<h4 class="card-title text-center">Producto "X"</h4>
			</div>
			<a href="#"><img class="card-img-top" src="../public/product-image/1.jpg" alt="product"/></a>
			<div class="card-block p-2">
				<p class="card-text text-center">
					Disponibles: 34
				</p>
			</div>
			<span class="text-center bg-dark">
				<a href="#" data-toggle="modal" data-target="#productMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#productEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#productDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<div class="card-block p-2">
				<h4 class="card-title text-center">Producto "X"</h4>
			</div>
			<a href="#"><img class="card-img-top" src="../public/product-image/1.jpg" alt="product"/></a>
			<div class="card-block p-2">
				<p class="card-text text-center">
					Disponibles: 34
				</p>
			</div>
			<span class="text-center bg-dark">
				<a href="#" data-toggle="modal" data-target="#productMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#productEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#productDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card bg-success p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<a href="#" data-toggle="modal" data-target="#productRegister"><img class="card-img-top" src="../public/svg/add-product.svg" alt="add product"/></a>
			<div class="card-block p-2">
				<h4 class="card-title text-center text-white">Agregar</h4>
			</div>
		</div>
	</div>

	<!-- modal to register -->	
	<div id="productRegister" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Registrar producto</h4>
				</div>
				<div class="modal-body">
					<form>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault01">Código</label>
							<input type="text" class="form-control" id="validationDefault01" placeholder="código prod" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Nombre</label>
							<input type="text" class="form-control" id="validationDefault02" placeholder="Nombre prod" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault03">Cantidad</label>
							<input type="text" class="form-control" id="validationDefault03" placeholder="cantidad prod" required>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault03">Unidad</label>
								<select class="form-control" id="unitSelect" id="validationDefault03" required>
									<option>Botellas</option>
									<option>Libras</option>
									<option>Cajas</option>
									<option>Bolsas</option>
								</select>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault04">Stock minimo</label>
							<input type="text" class="form-control" id="validationDefault04" placeholder="cant min" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault05">Proveedor</label>
							<input type="text" class="form-control" id="validationDefault05" placeholder="proveedor del producto" required>
						</div>
					</div>
						<button class="btn btn-success" type="submit">Registrar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to View more -->
	<div id="productMore" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Información</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Código</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="001">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="Producto X">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Cantidad</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="34">
							</div>
						</div>
						<div class="row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Unidad</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="cajas">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Stock minimo</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="10">
							</div>
						</div>
						<div class="row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Proveedor</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="colombina">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal to edit -->	
	<div id="productEdit" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar producto</h4>
				</div>
				<div class="modal-body">
					<form>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault01">Código</label>
							<input type="text" class="form-control" id="validationDefault01" value="código prod" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Nombre</label>
							<input type="text" class="form-control" id="validationDefault02" value="Nombre prod" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault03">Cantidad</label>
							<input type="text" class="form-control" id="validationDefault03" value="cantidad prod" required>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault03">Unidad</label>
								<select class="form-control" id="unitSelect" id="validationDefault03" required>
									<option>Botellas</option>
									<option>Libras</option>
									<option>Cajas</option>
									<option>Bolsas</option>
								</select>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault04">Stock minimo</label>
							<input type="text" class="form-control" id="validationDefault04" value="cant min" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault05">Proveedor</label>
							<input type="text" class="form-control" id="validationDefault05" value="proveedor del producto" required>
						</div>
					</div>
						<button class="btn btn-success" type="submit">Confirmar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to delete -->
	<div id="productDelete" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Confirmar Eliminación</h4>
				</div>
				<div class="modal-body">
				<p> ¿Desea continuar con la eliminación del producto?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../public/js/jquery-3.2.1.min.js"></script>
	<script src="../public/js/popper.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>