<!DOCTYPE html>
<html>
<head>
    <title> Informes Productos</title>
    </br>
    </br>

    <h1>Ventas Productos</h1>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>

    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top p-3">
        <a class="navbar-brand font-weight-bold" href="#">tienda.js</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <button class="btn btn-success mx-1" onclick="location.href='index_admin.html'">Home</button>
                <button class="btn btn-warning mx-1" onclick="location.href='caja_admin.html'">Caja</button>
                <button class="btn btn-success mx-1" onclick="location.href='inventory_admin.html'">Inventario</button>
                <button class="btn btn-success mx-1" onclick="location.href='report.html'">Reportes</button>
                <button class="btn btn-success mx-1" onclick="location.href='staff.html'">Personal</button>
                <button class="btn btn-success mx-1" onclick="location.href='providers.html'">Proveedores</button>
                <button class="btn btn-success mx-1" onclick="location.href='clients_admin.html'">Clientes</button>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </nav>
    </br>
    

<canvas id="Productos" width="800" height="250"></canvas>
<script>
var ctx = document.getElementById("Productos").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["P_1", "P_2", "P_3", "P_4", "P_5", "P_6"],
        datasets: [{
            label:'Productos',
            data: [5, 10, 15, 20, 25, 30],

            backgroundColor: 'rgba(255, 99, 132, 0.1)',

            borderColor: 'rgba(255,99,132,0.4)',
            borderWidth: 3

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>

</head>

<body>

    

</body>
</html>