<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
	<title>Personal | tienda.js</title>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top p-3">
		<a class="navbar-brand font-weight-bold" href="#">tienda.js</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<button class="btn btn-success mx-1" onclick="location.href='index_admin.html'">Home</button>
				<button class="btn btn-success mx-1" onclick="location.href='caja_admin.html'">Caja</button>
				<button class="btn btn-success mx-1" onclick="location.href='inventory_admin.html'">Inventario</button>
				<button class="btn btn-success mx-1" onclick="location.href='report.html'">Reportes</button>
				<button class="btn btn-warning mx-1" onclick="location.href='staff.html'">Personal</button>
				<button class="btn btn-success mx-1" onclick="location.href='providers.html'">Proveedores</button>
				<button class="btn btn-success mx-1" onclick="location.href='clients_admin.html'">Clientes</button>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
				<a class="nav-link" href="#">Cerrar sesion</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="row my-5 mx-auto" id="staff">
		<div class="card bg-dark p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<a href="#"><img class="card-img-top" src="../public/svg/person.svg" alt="profile"/></a>
			<div class="card-block p-2">
				<h4 class="card-title text-center text-white">Carolina Jimenez</h4>
			</div>
			<span class="text-center">
				<a href="#" data-toggle="modal" data-target="#staffMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#staffEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#staffDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card bg-dark p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<a href="#"><img class="card-img-top" src="../public/svg/person.svg" alt="profile"/></a>
			<div class="card-block p-2">
				<h4 class="card-title text-center text-white">Juan Bedoya</h4>
			</div>
			<span class="text-center">
				<a href="#" data-toggle="modal" data-target="#staffMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#staffEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#staffDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card bg-dark p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<a href="#"><img class="card-img-top" src="../public/svg/person.svg" alt="profile"/></a>
			<div class="card-block p-2">
				<h4 class="card-title text-center text-white">Gustavo nomelose</h4>
			</div>
			<span class="text-center">
				<a href="#" data-toggle="modal" data-target="#staffMore"><img src="../public/svg/more.svg" width="30px" class="p-1" alt="more"/></a>
				<a href="#" data-toggle="modal" data-target="#staffEdit"><img src="../public/svg/edit.svg" width="30px" class="p-1" alt="edit"/></a>
				<a href="#" data-toggle="modal" data-target="#staffDelete"><img src="../public/svg/delete.svg" width="30px" class="p-1" alt="delete"/></a>
			</span>
		</div>
		<div class="card bg-success p-2 m-2 col-xl-2 col-lg-2 col-md-4">
			<a href="#" data-toggle="modal" data-target="#staffRegister"><img class="card-img-top" src="../public/svg/add-person.svg" alt="add person"/></a>
			<div class="card-block p-2">
				<h4 class="card-title text-center text-white">Agregar</h4>
			</div>
		</div>
	</div>

	<!-- Modal to View more -->
	<div id="staffMore" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Información</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Cédula</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="2323432">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="Nombre">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Ciudad</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="Ciudad">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Dirección</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="Direccion">
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-2 col-form-label">Telefono</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticName" value="3434 4324">
							</div>
						</div>
						<div class="row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to register -->
	<div id="staffRegister" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Registrar vendedor</h4>
				</div>
				<div class="modal-body">
					<form>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Cédula</label>
							<input type="text" class="form-control" id="validationDefault02" placeholder="# cédula" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Usuario</label>
							<input type="text" class="form-control" id="validationDefault03" placeholder="Nombre de usuario" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="validationDefault03">Correo-e</label>
							<input type="text" class="form-control" id="validationDefault04" placeholder="Correo electronico" required>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="validationDefault04">Ciudad</label>
							<input type="text" class="form-control" id="validationDefault05" placeholder="Ciudad" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault05">Dirección</label>
							<input type="text" class="form-control" id="validationDefault06" placeholder="Direccion" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault06">Telefono</label>
							<input type="text" class="form-control" id="validationDefault07" placeholder="telefono" required>
						</div>
					</div>
						<button class="btn btn-success" type="submit">Registrar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to Edit -->
	<div id="staffEdit" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar vendedor</h4>
				</div>
				<div class="modal-body">
					<form>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault01">Nombre</label>
							<input type="text" class="form-control" id="validationDefault01" placeholder="nombre completo" value="Nombre" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Cédula</label>
							<input type="text" class="form-control" id="validationDefault02" placeholder="# cédula" value="12312323" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Usuario</label>
							<input type="text" class="form-control" id="validationDefault03" placeholder="Nombre de usuario" value="Usuario" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="validationDefault03">Correo-e</label>
							<input type="text" class="form-control" id="validationDefault04" placeholder="correo electronico" value="ejemplo@email.com" required>
							<div class="invalid-feedback">
								Escriba un correo Válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="validationDefault04">Ciudad</label>
							<input type="text" class="form-control" id="validationDefault05" placeholder="ciudad" value="Ciudad" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault05">Dirección</label>
							<input type="text" class="form-control" id="validationDefault06" placeholder="direccion" value="Direccion" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault06">Telefono</label>
							<input type="text" class="form-control" id="validationDefault07" placeholder="telefono" value="2324223" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault04">Contraseña</label>
							<input type="password" class="form-control" id="validationDefault08" placeholder="contraseña" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault05">Confirmar Contraseña</label>
							<input type="password" class="form-control" id="validationDefault09" placeholder="contraseña" required>
						</div>
					</div>


						<button class="btn btn-success" type="submit">Confirmar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to delete -->
	<div id="staffDelete" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Confirmar Eliminación</h4>
				</div>
				<div class="modal-body">
				<p> ¿Desea continuar con la eliminación del perfil?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../public/js/jquery-3.2.1.min.js"></script>
	<script src="../public/js/popper.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>